<!DOCTYPE html>
<html>
<head>
    <title>Walking Navigation</title>

    <!-- Your custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />

    <!-- Leaflet CSS -->
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
</head>

<body>

    <!-- 🟢 LIVE COORDINATES BOX -->
    <div id="coords-box">
        Lat: -- <br>
        Lon: --
    </div>

    <!-- 🗺 MAP -->
    <div id="map"></div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <!-- Your JS -->
    <script src="/static/js/map.js"></script>

</body>
</html>
